/* color for buttons
#5A9F68, #BBD58E */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 82.5%;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  min-height: 100vh;
  background-color: #fff;
  padding: 2.5rem;
}

/* SIDEBAR */
.sidebar {
  background-color:  #3A5A40;
  padding: 3rem 5rem 4rem 5rem;
}

.logo {
   height: 5.2rem;
   color: #e9edef;

}

.logo p {
  font-size: 1.5rem;
  color: #c7e3fa;
}

.workouts {
  list-style: none;
  height: 77vh;
}

.instruction-line{
  margin: 1.8rem;
  text-align: center;
  color: #c7e3fa;
}


.form-bg {
  background-color: #588157;
  padding: 1rem ;
}


/* Inspirational quote styles */
body {
  margin: 0;
  min-height: 100vh;
}

.modal-content {
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  font-family: "Courier New", Courier, monospace;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  margin: 10px;
  text-align: center;
}

.heading {
  font-size: 35px;
  font-weight: 700;
  text-decoration: underline;
}

.quote {
  font-size: 30px;
  font-weight: 600;
}

.author {
  font-size: 25px;
  margin: 10px;
  font-style: italic;
}

.btn-small, .btn {
  font-size: 25px; /* Adjust the font size as needed */
  padding: 5px 10px; /* Adjust the padding as needed */
  width: auto; /* Allow the width to adjust based on content */
  margin-top: 10px; /* Adjust the margin as needed */
}


/* Media Query */
@media (max-width: 768px) {
  .sidebar {
    padding: 2rem;
  }

  .logo {
    height: 4rem;
  }

  .logo p {
    font-size: 1.2rem;
  }

  .workouts {
    height: auto;
  }

  .btn {
    width: 100%;
  }
}

/* Weather model style */
.details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details > div{
  padding: 20px;
  background-color: #f1f1f1;
  margin: 10px;
  flex: 1;
  border-radius: 5px;
  text-align: center;
  min-height: 45px;
}
#city-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for submit button */
#getWeatherBtn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}