/* #4F4B65,#406E84,#2C9190,#4BB188,#8ECD72,#E2E062 */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 82.5%;
  box-sizing: border-box;
}

body {
 /* font-family: "Courier New", Courier, monospace; */
  min-height: 100vh;
  background-color: #fff;
  padding: 2.5rem;
}

/* SIDEBAR */
.sidebar {
  background-color: #406E84;
  padding: 1.5rem 3rem;
}

.logo {
  height: 5.2rem;
  color: #e9edef;

}

.logo p {
  font-size: 1.5rem;
  color: #c7e3fa;
}
.form-bg {
  background-color: #cfc6c6;

  padding: 1rem ;
}

.instruction-line{
  margin: 1.8rem;
  text-align: center;
  color: #c7e3fa;
}


.workouts {
  list-style: none;
  height: 77vh;
}

#submitWorkout {
  background-color: #8ECD72;
  font-size: 1.2rem;
}
.btn {
  font-size: 1.6rem;
}

#modalButtons{
  display: flex;
  justify-content: space-between;

}

                              /* NEW WORKOUT LIST ELEMENT */
.workout {
  background-color:  #7eda8ffd;
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem 1.5rem;
}


.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

                                 /* MODAL WINDOWS */

/* Inspirational quote styles */
body {
  margin: 0;
  min-height: 100vh;
}

.modal-content {
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  /* font-family: "Courier New", Courier, monospace; */
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  margin: 10px;
  text-align: center;
}

.heading {
  font-size: 35px;
  font-weight: 700;
  text-decoration: underline;
}

.quote {
  font-size: 30px;
  font-weight: 600;
}

.author {
  font-size: 25px;
  margin: 10px;
  font-style: italic;
}


/* Weather model style */
.details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.details > div{
  padding: 20px;
  background-color: #f1f1f1;
  margin: 10px;
  flex: 1;
  border-radius: 5px;
  text-align: center;
  min-height: 45px;
}
#city-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style for submit button */
#getWeatherBtn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

                                     /* MEDIA QUERY */
@media (max-width: 768px) {
  .sidebar {
    padding: 2rem;
  }

  .logo {
    height: 4rem;
  }

  .logo p {
    font-size: 1.2rem;
  }

  .workouts {
    height: auto;
  }

  .btn {
    width: 100%;
  }
}
