* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 82.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #fff;
  padding: 2.5rem;
}

/* SIDEBAR */
.sidebar {
  background-color: #3A5A40;
  padding: 3rem 5rem 4rem 5rem;
}

.logo {
  height: 5.2rem;
  color: #e9edef;

}

.logo p {
  font-size: 1.5rem;
  color: #c7e3fa;
}

.workouts {
  list-style: none;
  height: 77vh;
}

.instruction-line{
  margin: 1.8rem;
  text-align: center;
  color: #c7e3fa;
}


.form-bg {
  background-color: #588157;

  padding: 1rem ;
}

.workout-item {
  background-color: #588157;
  padding: 1rem;
  margin-bottom: 1rem;

}

.modal-content {
  background: linear-gradient(to left bottom, lightgreen, lightblue);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  font-family: "Courier New", Courier, monospace;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  margin: 10px;
  text-align: center;
}